.product{
    display: flex;
    border:1px solid lightgray;
    padding:20px 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.product-name-area{
    margin-left: 20px;
}
.product-name{
    color: blue;
}
.main-button{
    background-color: goldenrod;
    padding: 10px 40px;
    border-radius: 10px;
    border-color: yellow;
    border-image:gold;
}